USE [Pract15]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25.12.2025 11:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands$]    Script Date: 25.12.2025 11:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_brands$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories$]    Script Date: 25.12.2025 11:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_categories$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags$]    Script Date: 25.12.2025 11:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags$](
	[product_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_product_tags$] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products$]    Script Date: 25.12.2025 11:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[rating] [float] NOT NULL,
	[created_at] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
 CONSTRAINT [PK_products$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags$]    Script Date: 25.12.2025 11:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags$](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tags$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands$] ON 

INSERT [dbo].[brands$] ([id], [name]) VALUES (1, N'Samsung')
INSERT [dbo].[brands$] ([id], [name]) VALUES (2, N'Apple')
INSERT [dbo].[brands$] ([id], [name]) VALUES (3, N'Sony')
SET IDENTITY_INSERT [dbo].[brands$] OFF
GO
SET IDENTITY_INSERT [dbo].[categories$] ON 

INSERT [dbo].[categories$] ([id], [name]) VALUES (1, N'Smartphones')
INSERT [dbo].[categories$] ([id], [name]) VALUES (2, N'Laptops')
INSERT [dbo].[categories$] ([id], [name]) VALUES (3, N'Accessories')
SET IDENTITY_INSERT [dbo].[categories$] OFF
GO
INSERT [dbo].[product_tags$] ([product_id], [tag_id]) VALUES (1, 3)
INSERT [dbo].[product_tags$] ([product_id], [tag_id]) VALUES (1, 4)
INSERT [dbo].[product_tags$] ([product_id], [tag_id]) VALUES (2, 5)
GO
SET IDENTITY_INSERT [dbo].[products$] ON 

INSERT [dbo].[products$] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (1, N'Logitech MX Master5', N'Latest-generation technology', 167.4, 6, 4.4, CAST(N'2024-07-11' AS Date), 2, 1)
INSERT [dbo].[products$] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (2, N'Lenovo Tab P12', N'High-performance device', 2663, 11, 1.8, CAST(N'2024-03-06' AS Date), 4, 3)
INSERT [dbo].[products$] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (3, N'TCL 6-Series 55', N'High-performance device', 1563.33, 499, 4.6, CAST(N'2023-11-05' AS Date), 2, 2)
GO
SET IDENTITY_INSERT [dbo].[products$] OFF
GO
SET IDENTITY_INSERT [dbo].[tags$] ON 

INSERT [dbo].[tags$] ([id], [name]) VALUES (1, N'NEW')
INSERT [dbo].[tags$] ([id], [name]) VALUES (2, N'Popular')
INSERT [dbo].[tags$] ([id], [name]) VALUES (3, N'Discount')
SET IDENTITY_INSERT [dbo].[tags$] OFF
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_products$] FOREIGN KEY([product_id])
REFERENCES [dbo].[products$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_products$]
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_tags$] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_tags$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_brands$] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_brands$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_categories$] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_categories$]
GO
